@font-face {
    font-family: oneday;
    src: url(oneday/oneday.ttf);
    font-style: normal;
    font-weight: 75;

}

#particles-js{
    height: 100vh;
    z-index: -1;
}
h1{
    font-size: 50px;
}
.btext{
    color: #23272A;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: 0.4em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-linear-gradient(#61ace6, #db2f8a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
    font-family: ONEDAY;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}